{% extends "templates/base.twig" %}

{% block css1 %}"/assets/styles/payment.css"{% endblock %}

{% block title1 %}CENTRAL MARKET{% endblock %}

{% block body1 %}

<h1>CENTRAL MARKET</h1>

<h2>Your Payment has been processed Successfully<h2>

<a href="/itemlist-user"><button class="btn btn-lg btn-warning">Click here to continue Shopping</button></a>

{% endblock %}