html,body {
    height: 100%;
  }
  body {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  h1 {
    margin: 25px auto;
  }
  #msg {
    color: red;
    font-weight: normal;
  }
  .form-payment {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: auto;
  }
  .form-payment .checkbox {
    font-weight: 400;
  }
  .form-payment .form-floating:focus-within {
    z-index: 2;
  }
  .form-payment input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-payment input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .btn {
    margin: 30px 0;
  }
  .btn:hover {
    background-color: grey;
  }