{% extends "templates/base.twig" %}

{% block css1 %}"/assets/styles/sign.css"{% endblock %}

{% block title1 %}CENTRAL MARKET{% endblock %}

{% block body1 %}

<h1><span class="iconify" data-icon="ps:cart-supermarket" style="color: #5cb85c;" data-width="35" data-height="35"></span> &nbsp;CENTRAL MARKET</h1>

<main class="form-signin">
    <form action="/admin" method="POST">
        <h1 class="h3 mb-3 fw-normal">ADMIN PORTAL</h1>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-success" type="submit" onclick="disp()">Sign in</button>
    </form>
</main>

<h1 id="msg">{% if incorrectPassword %}Incorrect Password!!{% endif %}</h1>

{% endblock %}