{% extends "templates/base.twig" %}

{% block css1 %}"/assets/styles/home.css"{% endblock %}

{% block title1 %}CENTRAL MARKET{% endblock %}

{% block body1 %}





<div class="d-flex justify-content-between">
    <img src="https://media.discordapp.net/attachments/798598546978504734/906617694613278770/undraw_Add_to_cart_re_wrdo.png?width=814&height=586">
<div class="d-flex flex-column">
    <h1>CENTRAL MARKET</h1>
    <div><a href="/signin"><button class="btn btn-outline-success rounded-pill" type="submit">SIGN  IN</button></a></div>
    <div><a href="/signup"><button class="btn btn-outline-success rounded-pill" type="submit">SIGN  UP</button></a></div>
    <div><a href="/admin"><button class="btn btn-outline-success rounded-pill" type="submit">ADMIN PORTAL</button></a></div>
</div>
</div>





{% endblock %}